
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-color:lightskyblue;
}


nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
nav a:hover{
    background-color: purple;
}


@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
    }
}


img {
    height: 400px;
    width: 600px;
    max-width: 100%;
    border-radius: 20px; 
    margin: 20px 0;
}

/* .video-container {
    background-color: blue; 
    padding: 15px;
    padding-left: 300px;
    width:800px ;
    border-radius: 10px;
} */
video-container video{
    width: 300px;
    background-color: blue;
    padding: 15px;
    border-radius: 10px;
}

video {
    width: 50vw;
    max-width: 100%;
    background-color: blueviolet;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
}

button {
    background-color: purple; 
    color: white;
    padding: 12px 25px;
    margin: 20px;
    /* border-radius: 8px; */
}

button:hover {
    background-color:red;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.box {
    background-color: lightblue;
    padding: 30px;
    font-size: 20px;
    border-radius: 8px;
}



@media (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
#no
{
    background-color: rgb(42, 124, 165);
}